/node_modules
/storage/*.key
/storage/tmp
/vendor

.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
Thumbs.db
.DS_Store
.DS_Store?
.Trashes
*.sqlite
.env

# Lock files
pnpm-lock.yaml
